* {
  box-sizing: border-box;
  margin: auto;
}
body {
  font-size: 14px;
}

.wrapperA {
  width: 100%;
  height: 10427px;
  background: rgba(25,146,194,1) url(../images/tron.png);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-repeat: round;
}


.wrapperB {
  width: 1519px;
  height: 10427px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Header {
  width: 1519px;
  height: 122px;
  background: rgba(13,129,184,1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  overflow: hidden;
}
.rect1 {
  width: 1519px;
  height: 122px;
  background: rgba(13,129,184,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Text_1 {
  width: 900px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 333px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.Content {
  width: 1519px;
  height: 10253px;
  background: url("../images/v146_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 1px;
  overflow: hidden;
}
.paragraphA {
  width: 1519px;
  height: 131px;
  background: url("../images/Image_2.11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}

.Text_2 {
  width: 548px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 475px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentA {
  width: 1519px;
  height: 699px;
  background: url("../images/ContentA.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 7px;
  overflow: hidden;
}
.image1 {
  width: 750px;
  height: 699px;
  background: url("../images/Image_2.1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 762px;
  overflow: hidden;
}
.container1 {
  width: 762px;
  height: 699px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Text_3 {
  width: 608px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 94px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentB {
  width: 1519px;
  height: 724px;
  background: url("../images/ContentB.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 6px;
  overflow: hidden;
}
.container2 {
  width: 753px;
  height: 724px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 759px;
  overflow: hidden;
}

.Text_4 {
  width: 691px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 31px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.image2 {
  width: 762px;
  height: 720px;
  background: url("../images/Image_2.17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.ContentC {
  width: 1519px;
  height: 397px;
  background: rgba(203,207,206,1);
  opacity: 1;
  position: absolute;
  top: 1554px;
  left: 4px;
  overflow: hidden;
}

.Text_5 {
  width: 1519px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 65px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.paragraphB{
  width: 1519px;
  height: 131px;
  background: url("../images/Image_2.12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1952px;
  left: 3px;
  overflow: hidden;
}

.Text_6 {
  width: 487px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 514px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentD {
  width: 1519px;
  height: 890px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 2084px;
  left: 2px;
  overflow: hidden;
}
.image3 {
  width: 750px;
  height: 890px;
  background: url("../images/Image_2.3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 759px;
  overflow: hidden;
}
.container3 {
  width: 759px;
  height: 890px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;

}

.Text_7 {
  width: 697px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.ContentE {
  width: 1519px;
  height: 420px;
  background: url("../images/v139_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2974px;
  left: 2px;
  overflow: hidden;
}
.image4 {
  width: 762px;
  height: 420px;
  background: url("../images/Image_2.4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.container4 {
  width: 750px;
  height: 420px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 759px;
  overflow: hidden;
}

.Text_8 {
  width: 689px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.ContentF {
  width: 1519px;
  height: 1074px;
  background: url("../images/v139_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3395px;
  left: 2px;
  overflow: hidden;
}
.image5 {
  width: 698px;
  height: 372px;
  background: url("../images/Image_2.5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 784px;
  overflow: hidden;
}
.container5 {
  width: 759px;
  height: 1072px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Text_9 {
  width: 698px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 30px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.Text_10 {
    width: 762px;
    height: 337px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 458px;
    /* left: 27px; */
    font-family: Sura;
    font-weight: Bold;
    font-size: 45px;
    opacity: 1;
    text-align: left;
    border: 8px solid rgb(255 255 255);
}
.Text_11 {
  width: 687px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 814px;
  left: 30px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.image6 {
  width: 749px;
  height: 340px;
  background: url("../images/Image_2.7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 758px;
  overflow: hidden;
}
.image7 {
  width: 750px;
  height: 283px;
  background: url("../images/Image_2.8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 758px;
  overflow: hidden;
}
.v139_144 {
  width: 1519px;
  height: 340px;
  background: url("../images/v139_144.png");
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
}
.ContentG {
  width: 1519px;
  height: 281px;
  background: rgba(203,207,206,1);
  opacity: 1;
  position: absolute;
  top: 4469px;
  left: 2px;
  overflow: hidden;
}

.Text_12 {
    width: 1459px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 65px;
    font-family: Sura;
    font-weight: Bold;
    font-size: 39px;
    opacity: 1;
    text-align: left;;
}
.paragraphC {
  width: 1519px;
  height: 131px;
  background: url("../images/Image_2.13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4750px;
  left: 3px;
  overflow: hidden;
}
.rect4 {
  width: 1519px;
  height: 131px;
  background: url("../images/Image_2.13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Text_13 {
  width: 379px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  position: absolute;
  top: 37px;
  left: 563px;
  overflow: hidden;
}
.ContentH {
  width: 1519px;
  height: 628px;
  background: url("../images/v139_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4881px;
  left: 3px;
  overflow: hidden;
}
.image8 {
  width: 749px;
  height: 628px;
  background: url("../images/Image_2.6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 757px;
  overflow: hidden;
}
.container6 {
  width: 757px;
  height: 628px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Text_14 {
  width: 696px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 30px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentI {
  width: 1519px;
  height: 702px;
  background: rgba(203,207,206,1);
  position: absolute;
  top: 5509px;
  left: 2px;
  overflow: hidden;
}

.Text_15 {
    width: 1382px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 98px;
    left: 69px;
    font-family: Sura;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.name {
  color: #fff;
}
.ContentJ {
  width: 1519px;
  height: 1265px;
  background: url("../images/v139_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6211px;
  left: 2px;
  overflow: hidden;
}
.image9 {
  width: 761px;
  height: 464px;
  background: url("../images/Image_2.9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.image10 {
  width: 761px;
  height: 801px;
  background: url("../images/Image_2.10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 0px;
  overflow: hidden;
}
.container7 {
  width: 746px;
  height: 1265px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 761px;
  overflow: hidden;
}

.Text_16 {
    width: 686px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 54px;
    left: 30px;
    font-family: Sura;
    font-weight: Bold;
    font-size: 39px;
    opacity: 1;
    text-align: center;
}
.paragraphD {
  width: 1519px;
  height: 131px;
   background: url("../images/Image_2.14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7476px;
  left: 2px;
  overflow: hidden;
}
.rect5 {
  width: 1519px;
  height: 131px;
  background: url("../images/Image_2.14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Text_17 {
  width: 999px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 255px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentK {
    width: 1519px;
    height: 805px;
    background: url(../images/v146_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7607px;
    left: 0px;
    overflow: hidden;
}
.container8 {
    width: 1519px;
    height: 805px;
    background: rgba(203,207,206,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.Text_18 {
    width: 1519px;
    height: 206px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 599px;
    /* left: 17px; */
    font-family: Sura;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
    border: 10px solid rgb(255 255 255)
}
.name {
  color: #fff;
}
.Text_19 {
    width: 1519px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    /* left: 17px; */
    font-family: Sura;
    font-weight: Bold;
    font-size: 53px;
    opacity: 1;
    text-align: left;
    border: 8px solid rgb(255 255 255);
}
.ContentL {
  width: 1519px;
  height: 556px;
  background: url("../images/v142_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8412px;
  left: 2px;
  overflow: hidden;
}
.image11 {
  width: 756px;
  height: 556px;
  background: url("../images/Image_2.15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 755px;
  overflow: hidden;
}
.container9 {
  width: 755px;
  height: 556px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Text_20 {
  width: 695px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 29px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.ContentM {
  width: 1519px;
  height: 520px;
  background: rgba(203,207,206,1);
  opacity: 1;
  position: absolute;
  top: 8968px;
  left: 2px;
  overflow: hidden;
}

.Text_21 {
  width: 1519px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 23px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ContentN {
  width: 1519px;
  height: 716px;
  background: url("../images/v143_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9468px;
  left: 2px;
  overflow: hidden;
}
.image12 {
  width: 756px;
  height: 716px;
  background: url("../images/Image_2.16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 756px;
  overflow: hidden;
}
.container10 {
  width: 756px;
  height: 716px;
  background: rgba(101,215,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Text_22 {
  width: 694px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 72px;
  left: 47px;
  font-family: Sura;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.Footer {
  width: 1519px;
  height: 122px;
  background: url("../images/v144_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10306px;
  left: 3px;
  overflow: hidden;
}
.rect6 {
  width: 1519px;
  height: 122px;
  background: rgba(13,129,184,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Text_23 {
    width: 1241px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 143px;
    font-family: Sura;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

@font-face
{
  src:url(../fonts/Sura-Bold.ttf);
  font-family: Sura;
}

.add_comment {
display:block;
width:30px;
height:150px;
position:fixed;
left:0;
top:42%;
z-index: 99999;
}